.dark .anticon-right,
.dark .anticon-left {
  color: cyan;
}

.dark .pagination a {
  color: white;
}

.dark .pagination .ant-pagination-item-active a {
  color: black;
}

.dark .ant-empty-description {
  color: white;
}
